* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primaryColor: #2e2e2e;
  --secondaryColor: #676767;
  --btnColor: #f86061;
  --dBackColor1: white;
  --dBackColor2: #fef5f5;
}
body {
  font-family: "Poppins", sans-serif;
}
/* header and navbar style */
.header {
  padding: 0px 180px;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 0px;
}
/* navbar middle div */
.nav_middle ul {
  display: flex;
  align-items: center;
}
.nav_middle ul li {
  list-style: none;
  margin: 0px 25px;
}
.nav_middle .active a {
  color: var(--btnColor);
}
.nav_middle ul li a {
  text-decoration: none;
  transition: 0.5s;
  color: #4d4d4d;
  font-size: 16px;
  font-weight: 600;
}
.nav_middle ul li a:hover {
  color: var(--btnColor);
}
/* navbar right style */
.nav_right {
  background-color: var(--dBackColor1);
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.158);
  width: 270px;
  padding: 10px 30px 10px 10px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 18px;
  color: var(--secondaryColor);
}
.nav_right input {
  font-size: 14px;
  border: none;
  font-weight: 600;
  padding: 0px 5px;
}
.nav_right input:focus {
  outline: none;
}
.fa-basket-shopping {
  border-left: 2px solid #676767;
  padding-left: 5px;
}
/* banner section style */
.banner_section {
  /* border: 1px solid red; */
  display: flex;
  align-items: center;
  gap: 30px;
  height: calc(100vh - 73px);
}
.left_section {
  width: 50%;
}
.right_section {
  width: 50%;
  height: 100%;
}
/* more than */
.more_than {
  background-color: #fdecec;
  width: 220px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  color: #f55556;
  font-size: 16px;
  font-weight: 500;
  padding-left: 5px;
}
/* heading title */
.banner_section .heading_title {
  color: var(--primaryColor);
  font-size: 65px;
  font-weight: 700;
  line-height: 63px;
  letter-spacing: -0.74px;
  margin: 25px 0px;
}
.banner_section .heading_title .span {
  color: var(--btnColor);
  font-weight: 500;
  line-height: 88px;
  letter-spacing: -3.7px;
}
/* banner description */
.left_banner_description {
  color: var(--secondaryColor);
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0.09px;
}
/* order box */
.order_box {
  display: flex;
  align-items: center;
  margin-top: 60px;
}
button {
  background-color: var(--btnColor);
  color: var(--dBackColor1);
  border: none;
  padding: 15px 30px;
  font-size: 20px;
  font-weight: 500;
  border-radius: 8px;
  cursor: pointer;
  border: 1.5px solid #f86061;
  transition: 0.5s;
}
button:hover {
  background-color: var(--dBackColor1);
  color: #f86061;
}
.order_box img {
  margin: 0px 18px;
}
.order_box p {
  color: #363636;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: -0.2px;
}
/* banner right section style */
.right_section_main_box {
  width: 100%;
  height: 100%;
  position: relative;
}

.bg_box {
  width: 400px;
  height: 250px;
  background-color: rgba(241, 180, 87, 0.932);
  border-radius: 15px;
  transform: skew(10deg);
  position: absolute;
  top: 54%;
  left: 28%;
  z-index: 1;
}
.banner_img {
  position: absolute;
  top: 18.3%;
  left: 32%;
  z-index: 2;
}
.free_shipping_box {
  width: 182px;
  height: 270px;
  background-color: var(--dBackColor1);
  box-shadow: 0px 50px 80px rgba(0, 0, 0, 0.08);
  border-radius: 8px;
  position: absolute;
  top: 25%;
  left: 3%;
  z-index: 3;
  transition: 0.5s;
  cursor: pointer;
}
.free_shipping_box:hover {
  transform: scale(1.1);
}
.center img {
  margin-top: 20px;
}
.center {
  display: flex;
  justify-content: center;
}
.free_shipping_box h2 {
  color: #2e2e2e;
  font-size: 28px;
  font-weight: 700;
  margin: 5px 0px;
}
.free_shipping_box h3 {
  color: #2e2e2e;
  font-size: 18px;
  font-weight: 600;
  margin-top: 5px;
}
.free_shipping_box p {
  color: #a5a5a5;
  font-size: 12px;
  font-weight: 500;
}
.delivery_box {
  width: 60px;
  height: 60px;
  background-color: var(--btnColor);
  border-radius: 15px;
  position: absolute;
  left: 35%;
  bottom: -10%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: var(--dBackColor1);
  border: 1px solid #f86061;
  transition: 0.5s;
}
.delivery_box:hover {
  background-color: var(--dBackColor1);
  color: var(--btnColor);
}
.delivery_box i {
  font-size: 25px;
  margin-top: 5px;
}
.delivery_time_box {
  width: 180px;
  height: 60px;
  background-color: var(--dBackColor1);
  box-shadow: 0px 50px 80px rgba(0, 0, 0, 0.11);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: absolute;
  top: 15%;
  right: -10%;
  transition: 0.5s;
  cursor: pointer;
  z-index: 3;
  border-radius: 8px;
}
.delivery_time_box:hover {
  transform: scale(1.1);
}
.delivery_time_box h3 {
  color: var(--primaryColor);
  font-size: 17px;
  font-weight: 600;
}
.delivery_time_box h3 span {
  color: var(--secondaryColor);
  font-size: 14px;
  font-weight: 500;
}
/* fruit and vegetable style */
.fruit_and_vegetable {
  padding: 80px 180px;
  background-color: var(--dBackColor2);
}
.vegetable_title {
  color: var(--btnColor);
  text-align: center;
  font-size: 18px;
  font-weight: 500;
}
.vegetable_heading {
  color: #2e2e2e;
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  line-height: 50px;
  margin-top: 10px;
}
.vegetable_policy {
  display: flex;
  justify-content: space-evenly;
  padding-top: 60px;
}
.box {
  background-color: var(--dBackColor1);
  padding: 50px 20px;
  border-radius: 10px;
  box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.05);
  transition: 0.5s;
  cursor: pointer;
}
.box:hover {
  transform: scale(1.1);
}
.box h3 {
  color: var(--primaryColor);
  text-align: center;
  font-size: 22px;
  font-weight: 600;
  letter-spacing: -0.22px;
  margin: 15px 0px;
}
.box p {
  color: var(--secondaryColor);
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin-bottom: 15px;
}
.box .box_img {
  width: 100%;
  display: flex;
  justify-content: center;
}
/* find favorites and discover style */
.favorites_and_discover {
  padding: 160px 180px;
  display: flex;
  justify-content: space-between;
  gap: 200px;
}
.left_contend {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.right_contend {
  width: 40%;
  display: flex;
  align-items: center;
}
/* left contend */
.border_wrap {
  width: 520px;
  height: 520px;
  border-radius: 50%;
  position: relative;
  background-color: #fef5f5;
}
.round_box {
  position: absolute;
  bottom: 2%;
  right: 2.5%;
}
.red_strawberry {
  width: 220px;
  height: 320px;
  box-shadow: 0px 30px 50px -15px rgba(201, 29, 52, 0.2);
  position: absolute;
  background-color: white;
  border-radius: 8px;
  top: 20%;
  right: -27%;
  text-align: center;
  padding: 10px 0px;
  transition: 0.5s;
  cursor: pointer;
}
.red_strawberry:hover {
  transform: scale(1.1);
}
.str_heading {
  color: var(--primaryColor);
  font-size: 16px;
  font-weight: 700;
  letter-spacing: -0.36px;
  padding-top: 25px;
  padding-bottom: 3px;
}
.str_name {
  color: #a5a4a4;
  font-size: 14px;
}
.str_img {
  margin: 20px 0px;
}
.str_ratting {
  text-align: left;
  padding-left: 15px;
}
.str_ratting i {
  color: #fdc55e;
  margin-right: 8px;
  font-size: 18px;
}
.str_ratting span {
  font-size: 18px;
  color: var(--primaryColor);
  font-weight: 500;
}
.str_price {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 15px;
}
.str_price .price {
  color: var(--primaryColor);
  font-size: 22px;
  font-weight: 700;
  line-height: 20px; /* 90.909% */
}
.str_plus {
  width: 45px;
  height: 45px;
  border-radius: 8px;
  background-color: var(--btnColor);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 22px;
  border: 1px solid var(--btnColor);
  transition: 0.5s;
  cursor: pointer;
}
.str_plus:hover {
  background-color: var(--dBackColor1);
  color: var(--btnColor);
}
/* right contend */
.title_us {
  color: #03a66b;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.18px;
  margin-bottom: 10px;
}
.title_favorites {
  color: #2e2e2e;
  font-size: 40px;
  font-weight: 700;
  text-transform: capitalize;
  line-height: 45px;
  margin-bottom: 20px;
}
.title_description {
  color: #676767;
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  margin-bottom: 40px;
}
/* home delivery style */
.home_delivery {
  padding: 80px 180px;
  display: flex;
  justify-content: space-between;
  gap: 200px;
  height: 80vb;
}
.home_left_contend {
  width: 40%;
  height: 100%;
  display: flex;
  align-items: center;
}
.home_right_contend {
  width: 60%;
}
.home_left_title {
  color: #f9ba45;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.18px;
  margin-bottom: 15px;
}
.home_left_heading {
  color: #2e2e2e;
  font-size: 40px;
  font-weight: 700;
  line-height: 45px;
  text-transform: capitalize;
  margin-bottom: 20px;
}
.home_left_description {
  color: #676767;
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  margin-bottom: 40px;
}
.home_left_btn {
  background-color: white;
  color: var(--btnColor);
}
.home_left_btn:hover {
  background-color: var(--btnColor);
  color: var(--dBackColor1);
}
/* right contend */
.home_right_contend_main {
  width: 100%;
  height: 100%;
  position: relative;
}
.home_bg_box {
  width: 400px;
  height: 250px;
  background-color: rgba(241, 180, 87, 0.932);
  border-radius: 15px;
  transform: skew(10deg);
  position: absolute;
  bottom: 0%;
  left: 27%;
  z-index: 1;
}
.home_img {
  position: absolute;
  bottom: 0%;
  left: 32%;
  z-index: 2;
}
.home_bike_box {
  width: 182px;
  height: 240px;
  background-color: var(--dBackColor1);
  box-shadow: 0px 50px 80px rgba(0, 0, 0, 0.08);
  border-radius: 8px;
  position: absolute;
  top: 19%;
  left: 67%;
  z-index: 3;
  transition: 0.5s;
  cursor: pointer;
  padding: 10px;
  text-align: center;
}
.home_bike_box:hover {
  transform: scale(1.1);
}
.bike_img_bg {
  width: 100%;
  background-color: var(--dBackColor2);
  border-radius: 8px;
  margin-bottom: 16px;
}
.home_bike_title {
  color: var(--primaryColor);
  font-size: 16px;
  font-weight: 700;
  letter-spacing: -0.36px;
  padding-bottom: 5px;
}
.home_bike_description {
  color: #676767;
  font-size: 14px;
  line-height: 18px;
}
.get_the_app {
  padding: 80px 180px;
  background-color: var(--dBackColor2);
  display: flex;
  gap: 150px;
}
.get_app_left_contend {
  width: 50%;
  /* border: 1px solid red; */
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.get_position_img2 {
  z-index: 1;
}
.get_position_img1 {
  position: absolute;
  transform: scale(1.01);
}
.get_app_right_contend {
  width: 50%;
  display: flex;
  align-items: center;
}
/* get the app right contend style */
.get_title {
  color: var(--btnColor);
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0.18px;
}
.get_heading {
  color: var(--primaryColor);
  font-size: 40px;
  font-weight: 700;
  line-height: 45px;
  text-transform: capitalize;
  margin-top: 18px;
  margin-bottom: 25px;
}
.get_description {
  color: #676767;
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  margin-bottom: 40px;
}
.social_btn {
  background-color: var(--dBackColor2);
  border-radius: 12px;
  border: 2px solid #eedcdc;
  color: var(--primaryColor);
  margin-right: 20px;
}
.social_btn:hover {
  background-color: var(--btnColor);
  color: white;
  border: 2px solid var(--btnColor);
}
.social_btn i {
  font-size: 28px;
  margin-right: 10px;
}
/* footer section style */
.footer_main {
  padding: 80px 180px 15px 180px;
}
.footer_section {
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}
.footer_description {
  color: #676767;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
}
.footer_one {
  margin-right: 300px;
}
.footer_box h2 {
  color: var(--primaryColor);
  font-size: 20px;
  font-weight: 600;
  letter-spacing: -0.18px;
  margin-bottom: 22px;
}
.footer_box ul li {
  list-style: none;
}
.footer_box ul li a {
  list-style: none;
  color: #676767;
  font-size: 13px;
  font-weight: 500;
  text-decoration: none;
  transition: 0.5s;
}
.footer_box ul li a:hover {
  color: var(--btnColor);
}
.divide {
  height: 1.4px;
  background-color: #e9e6e6;
}
.copy_right {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 15px;
}
.copy_right p {
  color: #8c8c8c;
  font-size: 12px;
}
.copy_right h5 {
  color: #747474;
  font-size: 12px;
  font-weight: 500;
}
.margin_right {
  margin: 0px 35px;
}
